<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Book Recommender</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="./static/js/app.js" defer></script>
  </head>
  <body>
    <div class="container">
      <h1>Book Recommendation System</h1>

      <button id="mode" class="title" onclick="changeMode()">Book Title</button>
      <input id="searchBox" type="text" placeholder="Search for a book..." />
      <button onclick="sendSearch()">Search</button>

      <div id="bestMatch" class="result-box"></div>

      <h2>Recommendations</h2>
      <div id="recommendations" class="grid"></div>
    </div>
  </body>
</html>
